/* css reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* css reset */
*, body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.d-flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.jcsb {
  justify-content: space-between;
}

.jcsa {
  justify-content: space-around;
}

.jcc {
  display: flex;
  justify-content: center;
}

.aic {
  display: flex;
  align-items: center;
}

*, body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  line-height: 1.5;
  font-weight: bold;
  text-align: center;
}

.container {
  max-width: 412px;
  margin: auto 0;
}

.chinese {
  font-size: 20px;
}
.chinese:nth-child(2) {
  font-size: 20px;
}

h2 {
  font-size: 64px;
  line-height: 1.75;
}

.black {
  background-color: #000;
  color: #fff;
}

.banner {
  background-image: url(img/banner.png);
  height: 958px;
  max-width: 100%;
}
.banner .title {
  width: 304px;
  height: 342px;
  color: #fff;
}
.banner .title .left {
  display: flex;
  justify-content: start;
}
.banner .title .big {
  display: flex;
  justify-content: center;
  letter-spacing: 0px;
  color: #fff;
  font-size: 80px;
  font-weight: 900;
  line-height: 106px;
}
.banner .title .center {
  padding: 32px 0px 40px 13px;
  display: flex;
  justify-content: center;
}

.about {
  height: 992px;
  padding: 56px 0;
}
.about img {
  width: 384px;
  height: 384px;
}
.about li {
  font-size: 0;
  line-height: 1.75;
  padding-bottom: 8px;
  font-size: 24px;
}
.about li:nth-child(3) {
  padding-bottom: 24px;
}
.about li:nth-child(4) {
  padding-top: 28px;
  width: 384px;
  margin: 0 auto;
  border-top: 1px solid;
}
.about li .circle {
  display: inline-block;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  background-color: #891818;
  vertical-align: middle;
  margin-right: 16px;
}
.about li span {
  vertical-align: middle;
  line-height: 2;
}

.brand {
  padding: 56px 0;
}
.brand .en {
  padding: 12px 0 32px 0;
}
.brand .chinese {
  padding-bottom: 48px;
}
.brand img {
  padding: 20px 0;
}

.otherWorks {
  padding: 64px 0;
}
.otherWorks .images {
  display: flex;
  gap: 24px;
  justify-content: center;
  padding-top: 48px;
}

.contact {
  margin-top: 80px;
  padding: 64px 0;
}/*# sourceMappingURL=style.css.map */